@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #111111;
  --foreground: #ffffff
  ;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@theme {
  --color-dark: #11111;
  --color-light: #0F1213;
  --color-accent: #9F8F38;
  --color-accent-hover: #6e6325;
  --color-accent-dark: #4B4737;
  --color-accent-light: #b1ab99;
  --color-accent-teal: #00a396;
  --color-accent-tealdk: #006e63;
  --color-form: #1c1a1a;
}

@layer base {
  h1 {
    @apply px-20 text-4xl md:text-6xl;
  }
  h2 {
    @apply text-3xl md:text-5xl;
  }
  h3 {
    @apply text-2xl md:text-4xl;
  }
}

@layer utilities {
  .heading {
    @apply inline-block uppercase bg-black px-6 py-3 font-bold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] text-center align-middle my-5;
  }
  .sub-heading {
    @apply font-medium text-[20px] text-black max-w-2xl text-center break-words;
  }
  .tag {
    @apply bg-accent-dark px-6 py-3 font-bold rounded-sm uppercase relative before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }
  .section_container p {
    @apply mt-4 mb-4;
  }
  .section_container a {
    @apply text-accent-light
  }
  .section_container li {
    @apply list-disc;
  }
  .section_container div a {
    @apply text-black
  }
  .category-tag {
    @apply font-medium text-[16px] bg-accent-light text-black px-4 py-2 rounded-full;
  }
  .skeleton {
    @apply bg-gray-200 rounded-md animate-pulse; 
  }
  .skeleton.circle {
    @apply rounded-full; 
  }
  .card_grid-sm {
    @apply grid sm:grid-cols-3 gap-7;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}
h1 {
  font-family: "Roboto Mono", monospace;
}
h2 {
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
}
.titles {
  font-family: "Roboto Mono", monospace;
}
p {
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

